*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-table{
    height: 100vh;
    background-image: url(../images/flat-design-poker-table-background.avif);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    /* background-color: brown; */
}
button{
    cursor: pointer;
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    font-size: large;
}
button#new-deck{
    align-self: flex-start;
}
/* .card-outline{
    border: 2px solid black;
    border-radius: 5px;
    width: calc(120px * (5/7));
    height: 120px;
} */
div.card-slot {
    border: 3px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}
div.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}
img.card {
    width: 100%;
    height: 100%;
}
 /* .cont{
    width: 100%;
 }
 .cont2{
    float: left;
    text-align: center;
    width: 33.3%;
 }
 .cont img{
    width: 100%;
 } */